body{
    color:black;
    font-style:normal;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height:1.6;
    background-color:white;
    margin:0;
    padding:0;
    display:flex;
    

}